body{
    background: url(../../media/fondo.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    margin: 0%;
    font-family: 'Source Code Pro', monospace;
}

.titulo{
    background: rgb(221, 128, 128, 0.5);
    font-family: 'Source Code Pro', monospace;
    font-size: 50px;
}

.conocenos{
    background:rgb(255, 255, 255, 0.5);
    font-size: 30px;
}

.contenido2{
    background:rgb(255, 255, 255, 0.5);
    font-size: 40px;
}

.link{
    font-size: 300%;
    display: flex;
    text-decoration: none;
    color: rgb(221, 31, 31);
}

.img{
    width: 400px;
    height: 300px;
    background: rgb(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
}

.ubicacion{
    background:rgb(255, 255, 255, 0.5);
    font-size: 20px;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    text-decoration: none;
    list-style: none;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255, 0.5);
}

@media screen and (max-width: 900px) {
    body{
        padding: 0;
        margin: 0;
    }

    .titulo{
        font-size: 20px;
    }
    
    .conocenos{
        font-size: 15px;
    }
    
    .contenido2{
        font-size: 20px;
    }
    
    .link{
        font-size: 40%;
    }
    
    .img{
        width: 50px;
        height: 40px;
    }
    
    .ubicacion{
        font-size: 15px;
    }
    
}