.nav-bar{
    background: rgb(255, 255, 255);
    display: flex;  
    font-family: 'Anton', sans-serif;
    justify-content: space-between;
}

.nav-items{
    display: flex;
    list-style: none;
    
}

.nav-items a{
    width: 150px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: rgb(255, 174, 0);
    transition: all 1s;
    text-decoration: none;
}

.nav-items a:hover{
    background: rgb(255, 136, 0);
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: all 1.5s;
}

.nav-logo{
    width: 120px;
    margin-left: 90px;
}

.nav-logo:hover{
    transition: 1.5s;
}

@media screen and (max-width: 900px){
    .nav-bar{
        display: flex;  
        justify-content: space-between;
    }
    .nav-items a{
        width: 10px;
        height: 10px;
        border-radius: 8px;
        font-size: 5px;
    }
    
    .nav-items a:hover{
        font-size: 10px;
    }
    
    .nav-logo{
        width: 40px;
        margin-left: 20px;
    }
}